.assign-btns {
    position: sticky;
    width: 100%;
    z-index: 2;
    top: 0;
}

.btn-50 {
    height: 50px;
}

.row>* {
    padding-left: 0;
    padding-right: 0;
}

#wrap-page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

h2 {
    font-size: calc(20px + 0.2vw);
}

h1 {
    font-size: 50px;
}

canvas#chart {
    background-color: white;
}
